<main>
  <div class="content-text">
    <p>At SETEC INSTITUTE, we conduct up-to-date degree programs to equip our students with skills that companies nowadays are looking for. Other than designing the programs with important Management units like Public Relations, Marketing and Accounting, we also place emphasis on Business English. In summary, our programs will not only provide specialization in the respective majors, we also prepare our students for their career after graduation.</p>
    <p>Our programs include theoretical lessons, hands-on practical lessons and we also organize workshops and talks for our students to meet, learn and communicate with professionals in their field of expertise from recognized companies and organizations.</p>
    <div class="highlighted">Begin Your Education With Us, End With Job Opportunity</div>
  </div>
  <div class="mis-block">
    <div class="mis-img">
      <img src="/mis.jpg" alt="Students">
    </div>
  </div>
  <div class="mis-block">
    <div class="mis-img">
      <img src="/mis.jpg" alt="Students">
    </div>
  </div>
</main>
